
.sticky-line {
  padding: 0.5rem 1rem;
}

@media (max-height: 475px), (max-width: 800px) {
  .responsive-heading {
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 1rem;
  }
  header {
    display: none;
  }s
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
