
.sticky-line {
  padding: 0.5rem 1rem;
}

p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: large;
}

#catfact {
  color: #e5963c;
}

#play {
  background-color: rgba(255, 239, 219, 0.67);
  color: rgb(56, 87, 142);
  font-weight: 600;
  font-size: 10vw;
  padding: 2vw 5vw;
  border-radius: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 1.5%;
}

#play:hover {
  color: rgb(84, 113, 163);
  background-color: rgb(239, 225, 206);
  box-shadow: 0px 0px 3px 3px rgb(184, 145, 90);
}

#scores {
  border:none;
  color:rgb(4, 24, 24);
  border-radius: 20%;
  background-color: rgba(127, 173, 174, 0.631);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 2.5dvw;
}

#scores:hover {
  border:none;
  box-shadow: inset 0px 0px 40px 5px rgb(82, 155, 156);
  background-color: beige;
}

@media (max-height: 475px), (max-width: 800px) {
  .responsive-heading {
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 1rem;
  }

  header {
    display: none;
  }

  footer {
    display: none;
  }

  main {
    flex: 1 100vh;
  }
}
