.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 0 0 80px;
}

h1 span {
  color: rgb(123, 167, 205);
}
h1 span b {
  color: rgb(223, 212, 201);
}
span#name {
  color: rgb(123, 167, 205);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 0 30px;
}

.narrow-content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

footer a {
  float: right;
}

@media (max-height: 500px) {
  .responsive-heading {
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 1rem;
  }

  header {
    display: none;
  }

  footer {
    display: none;
  }

  main {
    flex: 1 0 auto;
  }
}
