.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 0 0 80px;
}

.LogI-Menu {
  background-color: rgb(123, 167, 205) !important;
  border-color: rgb(67, 120, 167) !important;
  margin: .5 dvb;
}
.LogI-Menu:hover {
  background-color: rgb(117, 152, 183)!important;
}
.Create-LogO {
  color: rgb(110, 120, 130) !important;
  margin: .5dvb;
  background-color: rgb(223, 212, 201) !important;
  border-color: rgb(205, 178, 151) !important;
}
.Create-LogO:hover {
  background-color:rgb(199, 181, 163) !important;
}

h1 span {
  color: rgb(123, 167, 205);
}
h1 span b {
  color: #e5963c;
}
span#name {
  color: rgb(123, 167, 205);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 0 30px;
}

.narrow-content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

footer a {
  float: right;
}

@media (max-height: 500px) {
  .responsive-heading {
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 1rem;
  }

  header {
    display: none;
  }

  footer {
    display: none;
  }

  main {
    flex: 1 0 auto;
  }
}
