main {
  display: flex;
  background-color: rgb(182, 202, 218);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

#end-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

#Restart {
  display: flex;
  color: rgb(96, 39, 146);
  background-color:rgba(223, 199, 222, 0.59);
  box-shadow: 0px 0px 5px rgb(36, 7, 67);
  border: none;
  border-radius: 14px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.scores {
  display: flex;
  color: rgb(20, 41, 28);
  background-color:rgba(51, 156, 172, 0.496);
  border: solid;
  border-color:  rgba(20, 41, 28, 0.249);
  margin: 10px;
  border-radius: 14px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  border: none;
  border-radius: 20px;
  width: 100%;
}

#menu-button {
  background-color: rgba(245, 222, 179, 0.628);
}

#turn {
  font-weight: 500 !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  width: 100%;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.message_you{
  color: rgb(2, 157, 136) !important;
}

.message_them {
  color: rgb(184, 19, 63) !important;
}

.narrator {
  font-size: larger !important;
}

#frankswords {
  font-size: 17px;
  justify-content: center;
  padding-top: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#draw {
  color:rgb(203, 229, 203);
  background: #80ad78;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: #316929;
  box-shadow: 0px 0px 10px inset rgb(77, 148, 77);
  margin: 3px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}
#cat {
  margin: 0px;
  padding: 0px;
}

#ask {
  border: solid;
  font-weight: 500;
  border-width: 2px;
  margin: 3px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 5px 1px rgba(138, 138, 138, 0.644);
  background-color: rgba(232, 232, 232, 0.58);
  border-color: rgba(61, 61, 61, 0.59);
  color: rgb(71, 71, 71);
  font-size: 20px;
}

#go-fish {
  border: solid;
  border-width: 2px;
  box-shadow: 0px 0px 10px inset rgb(238, 107, 100);
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(148, 75, 71);
  background-color: rgb(255, 184, 164);
  border-color: rgb(204, 111, 106);
  border-radius: 15px;
  font-size: 30px;
}

#cancel-ask {
  border: none;

}

#go-fish-opponent {
  border: none;
  border-width: 3px;
  border-color: rgb(135, 111, 52);
  box-shadow: inset 0px 0px 2px 3px rgb(212, 175, 11);
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(132, 93, 2);
  background-color:rgb(240, 222, 149);
  border-radius: 15px;
  font-size: 30px;
  font-weight: 650;
}


#end-turn {
  border: none;
  margin: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  background-color: rgb(177, 172, 172);
  color: rgb(49, 20, 20);
  box-shadow: inset 0px 0px 2px 3px rgba(98, 97, 91, 0.259);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 650;
}

.card-selected {
  box-shadow: 0px 0px 50px inset rgb(241, 193, 91) !important;
  background-color: rgb(255, 245, 222) !important;
  color: rgb(197, 119, 3) !important;
  border-color: rgb(182, 127, 9) !important;

}

.card-questioned {
  box-shadow: 0px 0px 50px inset rgba(241, 194, 91, 0.563) !important;
  background-color: rgb(228, 150, 197) !important;
  color: rgb(103, 24, 24) !important;
  border-color: rgb(84, 7, 55) !important;
}

.pair-container {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  gap: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.dots {
  color: rgb(40, 43, 109);
  font-size:xx-large;
  margin: 0px;
  background-color: none !important;
}

.pair {
  flex: 1 1 0;
  white-space: pre-line;
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  margin: 0%;
}

.picture-box img {
  max-width: 300px;
  padding:0px;
  margin: 0px;
  height: auto;
  object-fit: contain;
}

.toggle-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.card {
  font-size: clamp(2rem, 5vw, 6rem);
  margin-top: 0px;
  text-align: center;
  color: rgb(97, 79, 121);
  border-style: solid;
  border-width: 2px;
  border-color: #655473;
  border-radius: 12px;
  padding: 20px;
  background: rgb(177, 186, 232);
  box-shadow: inset 0px 0px 20px rgba(167, 170, 184, 0.464);
}

.card-1 {
  display: flex;
}

.card-2 {
  display: flex;
}

.card-3 {
  display: flex;
}
.card-4 {
  display: flex;
}
.card-5 {
  display: flex;
}
.card-6 {
  display: flex;
}
.card-7 {
  display: flex;
}
.card-8 {
  display: flex;
}
.card-9 {
  display: flex;
}


#toggle-cards:checked ~ .card-container .card {
  display: flex;
}

@media (max-width: 375px) {
  .pair-container {
    flex-direction: column;
    align-items: center;
  }

  .pair {
    width: 50%;
  }

  header,
  footer {
    display: none;
  }

  main {
    flex: 1 100vh;
  }
}

@media (max-height: 600px) {
  header,
  footer {
    display: none;
  }

  main {
    flex: 1 100vh;
  }
}
